.bg-primary {
    background-color: #a0d5cd !important;
    color: #fff;
}
.bg-secondary {
    background-color: #a0acd6 !important;
    color: #fff;
}

.bg-info {
    background-color: #d5c69f !important;
    color: #fff;
}
